<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloControllerServlet</servlet-name>
    <servlet-class>com.work.controller.HelloControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloControllerServlet</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginContrllerServlet</display-name>
    <servlet-name>LoginContrllerServlet</servlet-name>
    <servlet-class>com.work.controller.LoginContrllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginContrllerServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinControllerServlet</display-name>
    <servlet-name>JoinControllerServlet</servlet-name>
    <servlet-class>com.work.controller.JoinControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinControllerServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestControllerServlet</display-name>
    <servlet-name>TestControllerServlet</servlet-name>
    <servlet-class>com.work.controller.TestControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestControllerServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoControllerServlet</display-name>
    <servlet-name>MyInfoControllerServlet</servlet-name>
    <servlet-class>com.work.controller.MyInfoControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoControllerServlet</servlet-name>
    <url-pattern>/myInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControllerServlet</display-name>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <servlet-class>com.work.controller.LogoutControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoUpdateControllerServlet</display-name>
    <servlet-name>MyInfoUpdateControllerServlet</servlet-name>
    <servlet-class>com.work.controller.MyInfoUpdateControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoUpdateControllerServlet</servlet-name>
    <url-pattern>/myInfoUpdate</url-pattern>
  </servlet-mapping>
</web-app>